{% load static %}
<!DOCTYPE html>
<html lang="en" style="height:100%" ;>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="% static 'users/style.css'%">
    <title>Home</title>
</head>

<body style="background-color: #BCCBFF; display: flex; flex-direction: row; min-height: 100%;">
    <div class="left " style=" 
        display: flex;
        background-color: white; 
        width: 40%; 
        min-height: 100%; 
        justify-content: center;
        align-items: center; 
        ">
        <div class="home" style="
        text-align: center;
        ">
            You're home!
            <br>
            <a href="{% url 'account_login' %} "> Log In </a>
        </div>
    </div>
    <div class="design " style="grid-column: 2; ">

    </div>

</body>

</html>