.errorlist {
    color: red;
}

.navbar-nav a {
    color: black;
    font-weight: 600;
}

html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 60%;
    height: auto;
}

.bodycontent {
    height: 100%;
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}