{% extends "base.html" %} {% load static %}{% load bootstrap4 %} {% block head_title %}Sign Up {% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'users/style.css' %}">
<br>
<div id="singincontent">
    <div id="center">

        <div class="page_name">Sign In</div>

        <div class="info">
            <input type="text" placeholder="username"> <br>
        </div>
        <div class="info">
            <input type="text" placeholder="password"> <br>
        </div>
        <input type="button" value="Next">
        <div><br> Don't have an account? <a href="{% url 'account_signup' %}"> Register </a><br /></div>
    </div>
</div>
<br> {% endblock%}