 {% extends "base.html" %} {% load static %}{% load bootstrap4 %} {% block head_title %}Sign Up {% endblock %} {% block content %}

<h1>Sign In</h1>
<link rel="stylesheet" href="{% static 'users/style.css' %}">


<form class="login" id="login_form" method="post" action="{% url 'account_login' %}">
    {% csrf_token %} {% bootstrap_form form layout='horizontal' %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    <button class="primaryAction btn btn-primary" type="submit">Sign In </button>
    <p>Dont have an account? Then please <a href="{{ signup_url }}">Sign Up</a>.</p>

</form>

{% endblock %}