{% extends "base.html" %} {% load static %} {% block title %} {% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'users/patientsstyle.css' %}">
<h2 class="center">List of All Your Patients</h2>

<br>
<h3 class="center">Patients</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Edit Patient</th>
            <th scope="col">View All Records For Patient</th>
            <th scope="col">Add Record For Patient</th>
        </tr>
    </thead>

    <tbody>
        {% for patient in patient_list %}
        <tr>
            <td>
                {{ patient.first_name }}
            </td>
            <td>
                {{ patient.last_name }}
            </td>
            <td>
                {{ patient.dob }}
            </td>
            <td>
                <a href="{% url 'edit_patient' pk=patient.pk %}"> Edit patient</a>
            </td>
            <td>
                <a href="{% url 'list_records' pk=patient.pk %}">View Records</a>
            </td>
            <td>
                <a href="{% url 'add_record' pk=patient.pk %}"> Add Record</a>
            </td>
            {% empty %}
            <td>No patients.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="links">
    <div class="buttons"><a href="{% url 'add_patient' %}" id="link">Add a patient</a></div>

    <div class="buttons"><a href="{% url 'account_logout' %}" id="link">Log Out</a></div>
</div> {% endblock %}